<!-- eeno product description  -->
<section class="one">
  <h1 id="head" data-mdb-animation="slide-out-right"><span><i>Eeeno-gin</i></span></h1>
    

     
    <img src="../../assets/images/eeno.jpg" alt="">
    <br>
    
   
   
<br>


<div class="row">
 <span> <h2 id="main"><i>eeNoo, From the old Scots tongue; eenoo - just now, at the present time, in a short time, at once.
</i>
  </h2>  </span>
<br>

<div>

<span><h4 id="main1">Scottish gin is at the forefront of a recent gin renaissance and 
    so we thought eeNoo a fine and fitting name for our gin, as the present time is 
    the heyday of gin production in Scotland.

</h4></span>
</div>
<br>
<br>
<p>
    When we crafted our gin, eeNoo, we wanted to create a flavour profile that 
    encompassed the essence of a traditional gin whilst embracing flavours of the Scottish Highlands.
</p>

<br>
<br>
<p id="p1">
    eeNoo is distilled with Royal Deeside honey. The flavour profile of our honey is 
    unique to the local area and is made up of heather, willow herb and clover pollen. To 
    complement the honey we add heather flowers and other local botanicals. We forage a percentage of our
     brambleberries, raspberries and rosehip from the Deeside area and source the remainder from berry farms in 
     Aberdeenshire and Angus. As Scottish juniper is in a critical state of decline, we source the finest juniper
      from the Italian highlands. We then add coriander seeds, angelica root, liquorice root, orange and lemon peel
       to give our gin a traditional yet smooth fruity profile.
</p>



</div>
<h5 style="float: right; text-align: end;padding-right: 2%;">eeNoo - Scottish Gin</h5><br><br>
<!-- <img  id="img1" src="../../assets/images/badge.png" alt=""> -->

</section>

<!-- table datas -->
<section class="sec2"> 
<span><h3 style="text-align: center; color: blue; font-family: sans-serif; font-weight: bold;">products</h3></span>
<br>   
<table class="table table-striped table-dark" style="margin-left: 14%;">
        <thead>
          <tr>
            <th scope="col">productId</th>
            <th scope="col">batchId</th>
            <th scope="col"> distillerName</th>
            <th scope="col">bottlingTime</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">gin01</th>
            <td>B12</td>
            <td>eenoolooapik</td>
            <td>1642516201094</td>
          </tr>
          <tr>
            <th scope="row">gino2</th>
            <td>B13</td>
            <td>Murmichan</td>
            <td>1234532</td>
          </tr>
          <tr>
            <th scope="row">gin03</th>
            <td>B14</td>
            <td>Haroosh</td>
            <td>123465</td>
          </tr>
        </tbody>
      </table>


</section>


<!-- other products -->


<section class="sample">

  <button type="button" class="btn btn-info" style="align-items: center; margin-left: 34%;">More</button>
<br>
<br>
<br>
    <div class="tab1cards" >
      <div class="card">
        <img src="../../assets/images/murm.png" alt="safari" style="width: 250px;">
        <h4><b>Murmichan</b></h4>
        <button type="button" class="btn btn-success">Add to cart</button>
      </div>
      <div class="card">
        <img src="../../assets/images/haroosh.jpg" alt="safari" style="width: 250px">
        <h4><b>Haroosh</b></h4>
        <button type="button" class="btn btn-success">Add to cart</button>
      </div>
      <div class="card">
        <img src="../../assets/images/singular.jpg" alt="safari" style="width: 250px">
        <h4><b>singular series</b></h4>
        <button type="button" class="btn btn-success">Add to cart</button>
      </div>
      
    </div>
   

   
</section>

<!-- social meidia icon and footer -->
<div class="footer-dark">
   <footer>
     <div class="container">
       <div class="row">
         <div class="col-md-3 item">
           <h3>products</h3>
           <ul>
             <li>haroosh</li>
             <li>murmichan</li>
             <li>singula</li>
           </ul>

         </div>

         <div class="col-md-3 item">
          <h3>About us</h3>
          <ul>
            <li>company</li>
            <li>team</li>
            <li>privacy policy</li>
          </ul>

        </div>
        <div class="col-md-3 item">
          <p>
            Subscribe to our mailing list to keep up to date for the latest news and events.
          </p>

        </div>

        <div class="col-md-3 item">
          <p>
            Lost Loch Spirits Ltd.
Unit 7, Deeside Activity Park,
Dess, Aboyne AB34 5BD
          </p>

        </div>

       </div>

     </div>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <div class="col item social" style="align-items:center; padding-left: 45%;">
     <a href="#"><i class="fa fa-facebook"></i></a>    
     <a href="#"><i class="fa fa-instagram"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-google"></i></a>
    
     </div>
     <div class="copyright">copyright@2202</div>

   </footer>

</div>

			